@font-face {
  font-family: "ValorantFont";
  src: url("./ValorantFont.ttf");
}

@mixin colorShadow {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
}

@mixin margin10 {
  margin-left: 10vw;
  margin-right: 10vw;
}

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  font-family: "ValorantFont";
  overflow-x: hidden;

  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }

  .mainTitle {
    font-size: 10vw;
    padding-top: 5vh;
    margin-bottom: 10vh;
    @include colorShadow;
    cursor: pointer;
  }

  .navbar {
    @include margin10;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2rem;
    @include colorShadow;
    font-size: 1.8rem;
    gap: 15px;
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
    .navbar-Weapons {
    }
    .navbar-Maps {
    }
    .navbar-Agents {
    }
    .navbar-Cards {
    }
    .navbar-Buddies {
    }
    .navbar-Sprays {
    }
  }

  .container {
    @include margin10;

    .section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;

      .card-main {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        :hover.card-img {
          transform: scale(1.2);
          z-index: 2;
        }
        .card-title {
          @include colorShadow;
          font-size: 1.8rem;
          margin-top: 15px;
          margin-bottom: 20px;
        }
        .card-img {
          height: 150px;
          background-image: url(/asset/img/odin.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          border: none;
          transition: all 400ms;
        }
        .card-links {
          margin-bottom: 15px;
          display: flex;
          justify-content: space-around;
          font-size: 1.5rem;
          @include colorShadow;
          z-index: 3;
          :hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .chroma {
          @include colorShadow;
          margin-bottom: 15px;
          margin-top: 15px;
        }
      }

      .card-main-chroma {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 60vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        :hover.card-img-chroma {
          transform: scale(1.2);
          z-index: 2;
        }
        @media (max-width: 600px) {
          width: 80vw;
        }
        .card-title-chroma {
          @include colorShadow;
          font-size: 1.8rem;
          margin-top: 15px;
          margin-bottom: 20px;
          @media (max-width: 600px) {
            font-size: 1.6rem;
          }
        }
        .card-img-chroma {
          height: 30vh;
          background-image: url(/asset/img/odin.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          border: none;
          transition: all 400ms;
        }
        .card-links-chroma {
          margin-bottom: 15px;
          display: flex;
          justify-content: space-around;
          font-size: 1.5rem;
          @include colorShadow;
          z-index: 3;
          :hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .chroma-chroma {
          @include colorShadow;
          margin-bottom: 15px;
          margin-top: 15px;
        }
      }
    }
  }
  .retour {
    @include colorShadow;
    font-size: 2rem;
    display: block;
    margin-top: 30px;
  }
  footer {
    height: 200px;
  }
}
