@font-face {
  font-family: "ValorantFont";
  src: url("./ValorantFont.ttf");
}

@mixin colorShadow {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
}

@mixin margin10 {
  margin-left: 10vw;
  margin-right: 10vw;
}

@mixin card-glass {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  font-family: "ValorantFont";
  overflow-x: hidden;

  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }

  .mainTitle {
    font-size: 10vw;
    padding-top: 5vh;
    margin-bottom: 10vh;
    @include colorShadow;
    cursor: pointer;
  }

  .navbar {
    @include margin10;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2rem;
    @include colorShadow;
    font-size: 1.8rem;
    gap: 15px;
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .container {
    @include margin10;

    .section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;

      .card-main {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        :hover.card-img {
          transform: scale(1.2);
          z-index: 2;
        }
        .card-title {
          @include colorShadow;
          font-size: 1.8rem;
          margin-top: 15px;
          margin-bottom: 20px;
        }
        .card-img {
          height: 150px;
          background-image: url(/asset/img/odin.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          border: none;
          transition: all 400ms;
        }
        .card-links {
          margin-bottom: 15px;
          display: flex;
          justify-content: space-around;
          font-size: 1.5rem;
          @include colorShadow;
          z-index: 3;
          :hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .chroma {
          @include colorShadow;
          margin-bottom: 15px;
          margin-top: 15px;
        }
      }

      .card-main-chroma {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 60vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        :hover.card-img-chroma {
          transform: scale(1.2);
          z-index: 2;
        }
        @media (max-width: 600px) {
          width: 80vw;
        }
        .card-title-chroma {
          @include colorShadow;
          font-size: 1.8rem;
          margin-top: 15px;
          margin-bottom: 20px;
          @media (max-width: 600px) {
            font-size: 1.6rem;
          }
        }
        .card-img-chroma {
          height: 30vh;
          background-image: url(/asset/img/odin.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          border: none;
          transition: all 400ms;
        }
        .card-links-chroma {
          margin-bottom: 15px;
          display: flex;
          justify-content: space-around;
          font-size: 1.5rem;
          @include colorShadow;
          z-index: 3;
          :hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .chroma-chroma {
          @include colorShadow;
          margin-bottom: 15px;
          margin-top: 15px;
        }
      }

      .card-main-map {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 30vw;
        height: 38vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        :hover.card-img-map {
          transform: scale(1.2);
          z-index: 2;
        }
        @media (max-width: 600px) {
          width: 80vw;
        }
        .card-title-map {
          @include colorShadow;
          font-size: 1.8rem;
          margin-top: 15px;
          margin-bottom: 20px;
          @media (max-width: 600px) {
            font-size: 1.6rem;
          }
        }
        .card-img-map {
          height: 38vh;
          background-image: url(/asset/img/odin.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          border: none;
          transition: all 400ms;
          margin-bottom: 20px;
        }
      }
      .card-main-buddies {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        :hover.card-img-buddies {
          transform: scale(1.4);
          z-index: 2;
        }

        .card-title-buddies {
          @include colorShadow;
          font-size: 1rem;
          margin-top: 15px;
          margin-bottom: 20px;
          @media (max-width: 600px) {
            font-size: 1rem;
          }
        }
        .card-img-buddies {
          height: 128px;
          background-image: url(/asset/img/odin.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          border: none;
          transition: all 400ms;
          margin-bottom: 20px;
        }
      }
      .card-main-cards {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 200px;
        height: 440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        :hover.card-img-cards {
          transform: scale(1.2);
          z-index: 2;
        }

        .card-title-cards {
          @include colorShadow;
          font-size: 1rem;
          margin-top: 10px;
          margin-bottom: 10px;
          @media (max-width: 600px) {
            font-size: 1rem;
          }
        }
        .card-img-cards {
          height: 400px;
          background-image: url(/asset/img/odin.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          border: none;
          transition: all 400ms;
          margin-bottom: 10px;
        }
      }
      .card-main-agents {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 200px;
        height: 440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        :hover.card-img-agents {
          transform: scale(1.2);
          z-index: 2;
        }

        .card-title-agents {
          @include colorShadow;
          font-size: 1rem;
          margin-top: 10px;
          margin-bottom: 10px;
          @media (max-width: 600px) {
            font-size: 1rem;
          }
        }
        .card-img-agents {
          height: 400px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border: none;
          transition: all 400ms;
          margin-bottom: 10px;
        }
      }

      .divShowMore {
        @include colorShadow();
        font-size: 1.4rem;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .section-map {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;

      .map-name-gigabox {
        @include colorShadow();
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-family: kanit;

        .map-name {
          font-size: 1.6rem;
        }
        .map-legend {
          display: flex;
          flex-direction: column;
          gap: 10px;
          text-align: start;
          font-size: 1.2rem;

          .map-legend-box {
            border-left: 1px solid whitesmoke;
            padding-left: 10px;

            .map-legend-text-box {
              font-size: 0.8rem;
              display: flex;
              gap: 10px;
              flex-direction: column;
              .text-box {
                display: flex;
                gap: 10px;
                .text-text-color {
                  height: 20px;
                  width: 20px;

                  //Couleurs des box :
                  // 1:#649a8c
                  // 2:#9E7274
                  // 3:#BC8D7C
                  // 4:#16E5B4
                  // 5:#FF4655
                }
                .tcolor1 {
                  background-color: #649a8c;
                }
                .tcolor2 {
                  background-color: #9e7274;
                }
                .tcolor3 {
                  background-color: #bc8d7c;
                }
                .tcolor4 {
                  height: 5px;
                  background-color: #16e5b4;
                }
                .tcolor5 {
                  height: 5px;
                  background-color: #ff4655;
                }
              }
            }
          }
        }
      }
      .map-picture {
        width: 50vw;
        @media (max-width: 600px) {
          width: 90vw;
        }
      }
    }
    .section-agent {
      font-family: kanit;
      .nav-agent {
        @include colorShadow();
      }
      .agent-div {
        @include colorShadow();
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;

        .agent {
          @include card-glass();
          width: 350px;
          height: 440px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border: none;
          transition: all 400ms;

          .agent-title {
            font-size: 1.6rem;
            margin-top: 10px;
          }
          .agent-image {
            height: 450px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: none;
            transform: translateY(-30px);
          }
        }
        .agent-spells {
          width: 50vw;
          display: flex;
          flex-wrap: wrap;
          gap: 25px;
          @media (max-width: 600px) {
            width: 80vw;
          }

          .spell {
            @include card-glass();
            display: flex;
            flex-direction: column;
            height: 400px;
            width: 350px;
            gap: 10px;

            .spell-icon-title {
              display: flex;
              justify-content: center;
              margin-left: 25px;
              margin-right: 25px;
              gap: 10px;
              margin-top: 10px;
              .spell-icon {
                background-image: url(/asset/img/spellIcon.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 40px;
              }
              .spell-title {
                font-size: 1.4rem;
              }
            }

            .spell-text {
              margin-right: 20px;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
  .retour {
    @include colorShadow;
    font-size: 2rem;
    display: block;
    margin-top: 30px;
  }
  footer {
    margin-top: 100px;
    margin-bottom: 5px;
    text-align: center;
    @include colorShadow();
    a {
      @include colorShadow();
    }
  }
}
