@font-face {
  font-family: "ValorantFont";
  src: url("./ValorantFont.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "ValorantFont";
  overflow-x: hidden;
}
body video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  z-index: -1;
}
body .mainTitle {
  font-size: 10vw;
  padding-top: 5vh;
  margin-bottom: 10vh;
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
}
body .navbar {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  font-size: 1.8rem;
  gap: 15px;
}
body .navbar :hover {
  cursor: pointer;
  text-decoration: underline;
}
body .container {
  margin-left: 10vw;
  margin-right: 10vw;
}
body .container .section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body .container .section .card-main {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container .section .card-main :hover.card-img {
  transform: scale(1.2);
  z-index: 2;
}
body .container .section .card-main .card-title {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  font-size: 1.8rem;
  margin-top: 15px;
  margin-bottom: 20px;
}
body .container .section .card-main .card-img {
  height: 150px;
  background-image: url(/asset/img/odin.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  transition: all 400ms;
}
body .container .section .card-main .card-links {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  z-index: 3;
}
body .container .section .card-main .card-links :hover {
  cursor: pointer;
  text-decoration: underline;
}
body .container .section .card-main .chroma {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
body .container .section .card-main-chroma {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 60vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container .section .card-main-chroma :hover.card-img-chroma {
  transform: scale(1.2);
  z-index: 2;
}
@media (max-width: 600px) {
  body .container .section .card-main-chroma {
    width: 80vw;
  }
}
body .container .section .card-main-chroma .card-title-chroma {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  font-size: 1.8rem;
  margin-top: 15px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  body .container .section .card-main-chroma .card-title-chroma {
    font-size: 1.6rem;
  }
}
body .container .section .card-main-chroma .card-img-chroma {
  height: 30vh;
  background-image: url(/asset/img/odin.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  transition: all 400ms;
}
body .container .section .card-main-chroma .card-links-chroma {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  z-index: 3;
}
body .container .section .card-main-chroma .card-links-chroma :hover {
  cursor: pointer;
  text-decoration: underline;
}
body .container .section .card-main-chroma .chroma-chroma {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
body .container .section .card-main-map {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 30vw;
  height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container .section .card-main-map :hover.card-img-map {
  transform: scale(1.2);
  z-index: 2;
}
@media (max-width: 600px) {
  body .container .section .card-main-map {
    width: 80vw;
  }
}
body .container .section .card-main-map .card-title-map {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  font-size: 1.8rem;
  margin-top: 15px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  body .container .section .card-main-map .card-title-map {
    font-size: 1.6rem;
  }
}
body .container .section .card-main-map .card-img-map {
  height: 38vh;
  background-image: url(/asset/img/odin.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  transition: all 400ms;
  margin-bottom: 20px;
}
body .container .section .card-main-buddies {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container .section .card-main-buddies :hover.card-img-buddies {
  transform: scale(1.4);
  z-index: 2;
}
body .container .section .card-main-buddies .card-title-buddies {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  body .container .section .card-main-buddies .card-title-buddies {
    font-size: 1rem;
  }
}
body .container .section .card-main-buddies .card-img-buddies {
  height: 128px;
  background-image: url(/asset/img/odin.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  transition: all 400ms;
  margin-bottom: 20px;
}
body .container .section .card-main-cards {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 200px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container .section .card-main-cards :hover.card-img-cards {
  transform: scale(1.2);
  z-index: 2;
}
body .container .section .card-main-cards .card-title-cards {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  body .container .section .card-main-cards .card-title-cards {
    font-size: 1rem;
  }
}
body .container .section .card-main-cards .card-img-cards {
  height: 400px;
  background-image: url(/asset/img/odin.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  transition: all 400ms;
  margin-bottom: 10px;
}
body .container .section .card-main-agents {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 200px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container .section .card-main-agents :hover.card-img-agents {
  transform: scale(1.2);
  z-index: 2;
}
body .container .section .card-main-agents .card-title-agents {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  body .container .section .card-main-agents .card-title-agents {
    font-size: 1rem;
  }
}
body .container .section .card-main-agents .card-img-agents {
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  transition: all 400ms;
  margin-bottom: 10px;
}
body .container .section .map-name-gigabox {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: kanit;
}
body .container .section .map-name-gigabox .map-name {
  font-size: 1.6rem;
}
body .container .section .map-name-gigabox .map-legend {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  font-size: 1.2rem;
}
body .container .section .map-name-gigabox .map-legend .map-legend-box {
  border-left: 1px solid whitesmoke;
  padding-left: 10px;
}
body .container .section .map-name-gigabox .map-legend .map-legend-box .map-legend-text-box {
  font-size: 0.8rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
body .container .section .map-name-gigabox .map-legend .map-legend-box .map-legend-text-box .text-box {
  display: flex;
  gap: 10px;
}
body .container .section .map-name-gigabox .map-legend .map-legend-box .map-legend-text-box .text-box .text-text-color {
  height: 20px;
  width: 20px;
  background-color: #649a8c;
}
body .container .section .map-picture {
  width: 60vw;
}
@media (max-width: 600px) {
  body .container .section .map-picture {
    width: 80vw;
  }
}
body .container .section .divShowMore {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  font-size: 1.4rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body .container .section-agent {
  font-family: kanit;
}
body .container .section-agent .nav-agent {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
}
body .container .section-agent .agent-div {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
body .container .section-agent .agent-div .agent {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 350px;
  height: 440px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  transition: all 400ms;
}
body .container .section-agent .agent-div .agent .agent-title {
  font-size: 1.6rem;
  margin-top: 10px;
}
body .container .section-agent .agent-div .agent .agent-image {
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  transform: translateY(-30px);
}
body .container .section-agent .agent-div .agent-spells {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 600px) {
  body .container .section-agent .agent-div .agent-spells {
    width: 80vw;
  }
}
body .container .section-agent .agent-div .agent-spells .spell {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 350px;
  gap: 10px;
}
body .container .section-agent .agent-div .agent-spells .spell .spell-icon-title {
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  gap: 10px;
  margin-top: 10px;
}
body .container .section-agent .agent-div .agent-spells .spell .spell-icon-title .spell-icon {
  background-image: url(/asset/img/spellIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}
body .container .section-agent .agent-div .agent-spells .spell .spell-icon-title .spell-title {
  font-size: 1.4rem;
}
body .container .section-agent .agent-div .agent-spells .spell .spell-text {
  margin-right: 20px;
  margin-left: 20px;
}
body .retour {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  font-size: 2rem;
  display: block;
  margin-top: 30px;
}
body footer {
  margin-top: 100px;
  margin-bottom: 5px;
  text-align: center;
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
}
body footer a {
  color: whitesmoke;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
}/*# sourceMappingURL=style.css.map */